.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100vh;
}

input {
    margin: 10px 10px 10px 25px;
}

.container img {
    max-height: 680px;
}
