.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100vh;
}

input {
    margin: 10px 10px 10px 25px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 30px;
}

.container img {
    max-height: 680px;
    max-width: 680px;
    border-radius: 20px;
}
